// _mixins.scss
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rounded($radius: 5px) {
  border-radius: $radius;
}

@mixin transition($property: all, $duration: 0.3s, $ease: ease) {
  transition: $property $duration $ease;
}
